.radar-div {
  width: 250px;
  height: 250px;
  position: absolute;
}

.animate-radar {
  animation: radar 2s cubic-bezier(0,0,0.2,1) infinite;
}

@keyframes radar {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}